* {
  margin: 0;
  padding: 0;
}
.selectedProductImage {
  border: 2px solid black;
  animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
  margin: 10px;
}
.slidepics {
  display: block;
  width: 80px;
}
.background {
  width: 10%;
  position: relative;
  top: 4vh;
}
