* {
  margin: 0;
  padding: 0;
}
.selectedProductImage {
  border: 2px solid black;
  /* width: 20px; */
  /* height: 80px; */
  animation: fade-in 1s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
  margin: 10px;
  /* padding: 30px; */
}
.slidepics {
  display: block;
  width: 80px;
}
.background {
  width: 10%;
  /* padding-left: 10px;
  padding-right: 10px; */
  padding-top: 4.3%;
}
